* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(30, 28, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: beige;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 64px;
  margin-bottom: 10px;
}

input {
  border-style: hidden;
  margin-bottom: 12px;
  width: 300px;
  height: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: beige;
  color: rgb(30, 28, 28);
  font-size: large;
  text-align: center;
}

button {
  background-color: beige;
  border-style: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px;
}

img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
}
